/Assignment0/nbproject/private/
/Assignment0/build/
/Assignment1/Assignment1/nbproject/private/
/Assignment1/Assignment1/build/
/Assignment1/Assignment1/dist/
/Assignment1/a1/nbproject/private/
/Assignment1/a1/build/
/Assignment2/Assignment2/nbproject/private/
/Assignment2/Assignment2/build/
